.todo-list{
    height: 250px;
    overflow: auto;
}
.todo-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: gray;
}
.todo-list::-webkit-scrollbar-thumb{
    background: red;
}
