body{
    background: antiquewhite;
}
.container{
    margin-top: 100px;
    background: antiquewhite;
}
.todo-container{
    max-width: 500px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
::-webkit-scrollbar{
    width: 10px;
    background: gray;

}
.input{
    width: 225px;
    border-radius: 5px 0 0 5px;
    border: none;
}
.plus {
    width: 50px;
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
}
.searchInput{
    border-radius: 5px 0 0 5px;
}
.loop{
    border-radius: 0 5px 5px 0;
}
.editBtn{
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
}
.editInput{
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.ActiveBtn{
    background: greenyellow;
}